@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');

body {
    background-color: #013244;
    font-family: 'Cairo';
}

input[type=text] {
    background-color: #1b4957;
    height: 50px;
    color: aliceblue;
    border: 0;
}

input[type=text]:focus {
    background-color: #1b4957;
    color: aliceblue;
}

button[type=submit] {
    background-color: #02df79;
    height: 50px;
    font-size: 22px;
}